.card-pertama{
    width: 422px;
    height: 260px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    margin: 14px 5px 0px 5px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
.card-kedua{
    width: 423px;
    height: 205px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    margin: 14px 5px 0px 5px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
.grafik-kedua{
    /* margin-top: 10px ; */
    margin-top: 10px;
    height: 205px;
    /* position: flex  !important; */
    z-index: -1;
    /* position: absolute; */
}
.grafik-pertama{
    /* margin-top: 10px ; */
    margin-top: 10px;
    height: 260px;
    /* position: flex  !important; */
    z-index: -1;
    /* position: absolute; */
}
.header{
    z-index: 1;
    position: absolute;
    margin-top: 20px;
    width: 450px;
}
#tulisan{
    margin: 0,0,0,0;
    width: 87.45px;
    height: 17.68px;
    margin: 4px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    color: #000000;
}
.header-penjelasan{
    /* margin-top: 20px; */
    margin-left: 20px;
    width: 220px;
}
.nama{
    margin-left: 5px;
}
.namebox{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #000000;
}
.text{
    width: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    align-items: right;
    margin: auto;
}
.box-container{
    width: 14.24px;
    height: 6.24px;
    background: #FF5252;
    margin-top: 3px;
}
.box-payload{
    width: 14.24px;
    height: 6.24px;
    background: #96A0FF;
    margin-top: 3px;
}