
#gps{
    width: 856px;
    height: 365px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 14px;
    margin-left: 5px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
