body{
    background-color : #E5E5E5;
    margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}
.flex-row{
    display : flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
#dashboard{
    margin: 15px 0px 0px 6px;
}
#foto img{
    margin: 6px 6px;
}
#team-id{
    /* position: absolute; */
    margin: 0;
    width: 159px;
    height: 87.95px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
#team-id p{
    /* position: absolute; */
    width: 105px;
    height: 19.55px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 13px 27px 0px 27px;
}
#team-id div{
    /* position: absolute; */
    /* display: flex; */
    margin: auto;
    /* flex: column; */
}
#port{
    margin-top: 8px;
    width: 159px;
    height: 34.2px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    padding: auto;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
#port div{
    display: flex;
    flex: column;
    margin: auto;
}
.port-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 7px 21px;
    margin-right: 5px;
}
#connected{
    color: #34FF22;
    margin-left: 0px;
}
#status{
    width: 159px;
    height: 300px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 12px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
#status div{
    margin: 20px 20px;
}
#status div p{
    font-family: 'Roboto';
    font-style: normal;
    align-items: center;
    text-align: center;
    color: #000000;
}
.pengertian{
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.penjelasan{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    margin: 0px;
}
#tools{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 393px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 13px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
#tools-flex{
    margin: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tools div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}
#activate{
    margin-top: 7px;
}
.button{
    display: inline-block;
    padding: 6px 18px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    width: 110px;
    height: 26px;
    background: #96A0FF;
    color: white;
    margin: auto;
    /* border: 1px solid #44A5FF; */
    box-sizing: border-box;
    border-radius: 5px;
    /* box-shadow: 0 9px #999; */
}
#download-csv div{
    display: inline-block;
    padding: 6px 18px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    width: 49px;
    height: 26px;
    color: white;
    margin: auto;
    /* border: 1px solid #44A5FF; */
    box-sizing: border-box;
    border-radius: 5px;
    /* box-shadow: 0 9px #999; */
}
#download-sp{
    background: #F25151;
    margin: 0px 6px;
}
#download-c{
    background: #96A0FF;
    margin: 0px 6px;
}
.button2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 6px 18px; */
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    width: 76px;
    height: 26px;
    background: #96A0FF;
    color: white;
    /* border: 1px solid #44A5FF; */
    box-sizing: border-box;
    border-radius: 5px;
    /* margin: auto; */
    /* box-shadow: 0 9px #999; */
}

#video-transfer{
    width: 159px;
    height: 183px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 12px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}
/* SLIDER  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: auto;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
#password{
    width: 111px;
    margin-bottom: 5px;
}
.penjelasan-connect{
    width: 91px;
    height: 13.57px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;
    margin: 5px;
    color: #FF5252;
}
#video{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
