
#status-container{
    width: 856px;
    height: 116px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 5px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.32));
}
#status-payload{
    height: 116px;
    background: #FFFFFF;
    /* border: 2px solid #FFFFFF; */
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 5px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.32));
}


#status-container{
    /* padding: x`0px 53px 0px 53px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .tulisan-status{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
} */
#tulisan-status div p{
    /* margin: 0px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    /* margin: 0 45px; */
    color: #000000;
    width: 50px;
}
#Standby-Container{
    margin: 5px 100px 0 0;
}
#Ascent-Container{
    margin: 5px 100px 0 0;
}
#Released-Container{
    margin: 5px 100px 0 0;
}
#Separated-Container{
    margin: 5px 100px 0 0;
}
#Descent-Container{
    margin: 5px 100px 0 0;
}
#Landed-Container{
    margin: 5px 0px 0 0;
}
.garis-container{
    width: 127px;
    height: 0px;
    border: 1px solid #E4E4E4;
    margin: 4px 3px 0px 3px;
    /* margin-top: 51px; */
}
.ellipse-container{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #E4E4E4;
    margin: 0px 3px;
}
.garis-container-active{
    width: 127px;
    height: 0px;
    border: 1px solid #FF5252;
    margin: 4px 3px 0px 3px;
    /* margin-top: 51px; */
}
.ellipse-container-active{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #FF5252;
    margin: 0px 3px;
}

#status-payload{
    display: flex;
    align-items: center;
    justify-content: center;
}
.garis-payload{
    width: 159px;
    height: 0px;
    border: 1px solid #E4E4E4;
    margin: 4px 3px 0px 3px;
    /* margin-top: 51px; */
}
.ellipse-payload{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #E4E4E4;
    margin: 0px 3px;
}
.garis-payload-active{
    width: 159px;
    height: 0px;
    border: 1px solid #96A0FF;
    margin: 4px 3px 0px 3px;
    /* margin-top: 51px; */
}
.ellipse-payload-active{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #96A0FF;
    margin: 0px 3px;
}
#tulisan-status-payload div p{
    /* margin: 0px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    /* margin: 0 45px; */
    color: #000000;
    width: 50px;
}
#tulisan-status-payload div{
    height: 17px;
}
#Standby-Payload{
    margin: 5px 132px 0 0;
}
#Released-Payload{
    margin: 5px 132px 0 0;
}
#Hovering-Payload{
    margin: 5px 132px 0 0;
}
#Descent-Payload{
    margin: 5px 132px 0 0;
}
#Landed-Payload{
    margin: 5px 0px 0 0;
}