  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <div style="width: 159px; height: 174px;">
        <h4 style="text-align:center; color: red;">NOT UPLOAD</h4>
        <FORM action='/fupload' method='post' enctype='multipart/form-data'>
            <input class='buttons' type='file' style="width: 149px;" name='fupload' id = 'fupload' value=''>
          <br>
          <br>
          <button class='buttons' style='width: 149px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          outline: none;
          height: 26px;
          background: #96A0FF;
          color: white;
          box-sizing: border-box;
          border-radius: 5px;' type='submit'>Upload File</button>
      </div>
      <h4 style="color:green ;text-align:center;">SUCCESS</h4>
      <p style="margin-bottom: 0; text-align: center;">testing asadasdasd</p>
      <p style="margin-top: 0; text-align: center; color: green;">Was Uploaded</p>
      <p style="text-align: center;">100000kb</p><br>
    </body>
  </html>

